<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>EcoClean - Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <header class="navbar">
        <!-- <img src="/img/logo.jpeg" alt="EcoClean Logo" class="logo"/> -->
    </header>
    <main class="login-container">
        <div class="login-box">
            <h2>Faça Login</h2>
            <% if (error) { %>
              <div style="color:red"><%= error %></div>
            <% } %>
            <form method="POST" action="/login">
                <div class="input-group">
                    <label for="identificador">Email ou Usuário</label>
                    <input type="text" id="identificador" name="identificador" required>
                </div>
                <div class="input-group">
                    <label for="senha">Senha</label>
                    <input type="password" id="senha" name="senha" required>
                </div>
                <button type="submit" class="login-btn">ENTRAR</button>
            </form>
            <br>
            <div class="links">
                <a href="#">Esqueceu sua senha?</a><br>
                <a href="/cadastro">Ainda não tem uma conta? Cadastre-se!</a>
            </div>
        </div>
    </main>
</body>
</html>